<div id="<%= dom_id(pizza)%>">

  <% if pizza.photo.attached? %>
    
    <%= image_tag url_for(pizza.photo), class: "w-[300px] h-[200px] rounded-lg mb-4"%>

  <%end%>

  <p class= "font-bold text-yellow-500 text-xl">
    <%= pizza.name %>
  </p>

  <p class="font-semibold text-lg" >
    R$ <%= number_with_precision(pizza.price, precision: 2, delimiter: ".", separator: ",") %></strong>
  </p>

</div>
