<p style="color: green"><%= notice %></p>

<h1 class="mb-10 text-3xl block">Menu</h1>

<div class="grid grid-cols-4 gap-y-16 gap-x-16 mt-20 mb-5">
  <% @pizzas.each do |pizza| %>
    <div>
      <%= link_to render("pizza_summary", pizza: pizza), pizza_path(pizza) %> 

      <div class="mt-2"> <!-- Espaço acima do link -->
        <%= link_to render(partial: "layouts/button", locals: {button_text: "Detalhar"}), pizza %> <!-- Link -->
      </div>
    </div>
  <% end %>
</div>
