<p class="text-green-500"><%= notice %></p>

<div class="mt-16">

  <h1 class="mb-10 text-3xl md:text-4xl block">Menu</h1>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-y-10 gap-x-16 mt-10 mb-5">
    <% @pizzas.each do |pizza| %>
      <div>
        <%= link_to render("pizza_summary", pizza: pizza), pizza_path(pizza) %> 

        <div class="mt-2">
          <%= link_to render(partial: "layouts/button", locals: {button_text: "Detalhar"}), pizza %>
        </div>
      </div>
    <% end %>
  </div>

</div>
