<% content_for :title, "New pizza" %>

<h1 class = "text-3xl">New pizza</h1>

<div class= "mt-20">

  <%= render "form", pizza: @pizza %>

  <div class = "mt-4">
    <%= link_to "Voltar ao menu", pizzas_path %>
  </div>

</div>

